{% extends "base.html" %}

{% block  content %}
    <div class="threebtn">
        <button>Live</button>
        <button>Upcoming</button>
        <button>Previous</button>
    </div>


    <h1>Live</h1>
    <div class="container">

        <div class="card-group">
            <div class="card">
                <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card">
                <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
            </div>
        </div>

    </div>


    <h1>Upcoming</h1>




        <div class="container">

            <div class="card-group">
                <div class="card">
                    <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        </div>
                </div>
                <div class="card">
                    <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        </div>
                </div>
                <div class="card">
                    <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height
                            action.</p>
                        </div>
                </div>
            </div>

        </div>


        <h1>Previous</h1>

        <div class="container" style="margin-bottom: 2rem;">

            <div class="card-group">
                <div class="card">
                    <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        </div>
                </div>
                <div class="card">
                    <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        </div>
                </div>
                <div class="card">
                    <img src="/static/image/newImage.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height
                            action.</p>
                        </div>
                </div>
            </div>

        </div>


{% endblock %}