<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>eBattle.com|Online Gaming Plateform</title>
</head>

<body>

    <header>
        <div class="logo">
            <a href=""> eBattle.com</a>
        </div>
        <div class="btns">
            <button><a class="nav-link" href="{% url "login_user" %}">Login</button>
            <button><a class="nav-link" href="{% url "signup" %}">Signup</button>
        </div>
    </header>
    <div class="container"></div>

    <section style="margin-top: 3rem;">
        <div class="wrapper">
            <div class="title-text">
                Elavate Your Game : Where Gamers compete, Convert, and Conquer - <br> Your Ultimate Gaming
                Tournament Hub.
            </div>


            <main class="cards-layout">
                <article class="card">
                    <img class="avatar" src="https://i.pravatar.cc/50?u=EmmaWatson" alt="Avatar of Emma Watson">

                    <header class="author">
                        <h2 class="name">Emma Watson</h2>
                        <p class="position">Sales & Marketing</p>
                    </header>

                    <section class="article-content">
                        <h3 class="title">Lorem Ipsum Dolor Sit Amet</h3>
                        <div class="snippet" role="contentinfo">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore laborum ea
                                libero fugiat iusto molestias saepe molestiae, minima animi, vel excepturi ad?
                                Mollitia, quo exercitationem.</p>
                        </div>
                    </section>
                </article>

                <article class="card">
                    <img class="avatar" src="https://i.pravatar.cc/50?u=JustinGreen" alt="Avatar of Justin Green">

                    <header class="author">
                        <h2 class="name">Justin Green</h2>
                        <p class="position">UI & UX</p>
                    </header>

                    <section class="article-content">
                        <h3 class="title">Vero Ratione Quidem Tempora Quae</h3>
                        <div class="snippet" role="contentinfo">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore laborum ea
                                libero fugiat iusto molestias saepe molestiae, minima animi, vel excepturi ad?
                                Mollitia, quo exercitationem.</p>
                        </div>
                    </section>
                </article>

            </main>


            <h1 style="text-align: center; margin: 20px 0;">Join Our Official Community </h1>
            <div class="social-icon">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>
    </section>
    </div>


</body>

</html>