{% extends "base.html" %}

{% block  content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/tournament.css">
    <title>Tournament</title>
</head>

<body>
    <div class="container">
        <!-- <section>   -->
            <div class="content">

                <div class="tournament-list">
                    <h2>Tournaments</h2>
                    <ul>
                        <li><a href="">Tournament 2023-2024</a></li>
                        <li><a href="">Tournament 2022-2023</a></li>
                        <li><a href="">Tournament 2021-2022</a></li>
                        <li><a href="">Tournament 2019-2020</a></li>
                        <li><a href="">Tournament 2018-2019</a></li>
                        <li><a href="">Tournament 2017-2018</a></li>
                        <li><a href="">Tournament 2016-2017</a></li>
                        <li><a href="">Tournament 2014-2015</a></li>
                        <li><a href="">Tournament 2013-2014</a></li>
                        <li><a href="">Tournament 2012-2013</a></li>
                        <li><a href="">Tournament 2011-2012</a></li>
                        <li><a href="">Tournament 2010-2011</a></li>
                        <li><a href="">Tournament 2009-2010</a></li>
                        <li><a href="">Tournament 2008-2009</a></li>
                        <li><a href="">Tournament 2007-2008</a></li>
                        <li><a href="">Tournament 2006-2007</a></li>
                        <li><a href="">Tournament 2005-2006</a></li>
                    </ul>
                </div>

                <div class="match-title">
                    <h2>Completed Tournaments for the year 2023 - 2024</h2>
                    <ul>
                        <li><a href=""> Under-19 Vinoo Mankad Trophy</a></li>
                        <li><a href=""> Under-19 Womens One Day</a></li>
                        <li><a href=""> Under-16 Payyade Trophy</a></li>
                        <li><a href=""> Under-23 Shatkar Trophy Cricket Tournament</a></li>
                        <li><a href=""> 27th Bapuna Cup T20 Invitation Tournament</a></li>
                        <li><a href=""> Buchi Babu All India Invitation Cricket Tournament</a>

                        </li>
                    </ul>

                </div>

            </div>

        </section>

    </div>
</body>

</html>

{% endblock %}